apache-airflow==2.6.3
psycopg2-binary
redis
pytest

# 必要な Airflow Providers
apache-airflow-providers-google
apache-airflow-providers-amazon
apache-airflow-providers-postgres
apache-airflow-providers-redis

# Airflow が依存するバージョンを固定
pendulum==2.1.2
