psycopg2-binary
redis
pytest

# 必要な Airflow Providers
apache-airflow-providers-google==10.14.0
apache-airflow-providers-amazon==8.14.0
apache-airflow-providers-postgres
apache-airflow-providers-redis

# Google Cloud SDKs
google-cloud-storage>=2.10.0
google-cloud-bigquery>=3.13.0

# Airflow が依存するバージョンを固定
pendulum==2.1.2
